<!DOCTYPE html> 
<html> 
	<head> 
	<title>AppleTV control</title> 
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"> 
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<link rel="apple-touch-startup-image" href="back.jpg" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
	<script>$.mobile.touchOverflowEnabled="true";
	$.mobile.fixedToolbars.setTouchToggleEnabled(false);</script>
</head>
<body> 
	<div data-role="page"  data-theme="c">
		<%= yield %>
	</div>
</body>
</html>