<div data-role="content">
<p>Buttons are core widgets in jQuery Mobile, and are used within a wide range of other plugins.</p>
<ul data-role="listview" data-inset="true" data-filter="true">
<%= @list %>
</ul>
</div>